{% extends '_layouts/base.njk' %}

{% block page_title %}New index page title{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
</div>
{% include "_partials/jumbotron.njk" %}

{% block story %}
  <img src="img/queen-band-early.jpg" class="img-fluid">
{% endblock %}



<div class="container">
  <div class="row">
    <div class="col">
    <img src="img/queen-band-early.jpg" class="img-fluid">
    <h1>Queen</h1>
    {% include "_partials/discography.njk" %}
  
    <p class="author">By ori</p>
    <p class="date"> Published May 25, 1977</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Few bands embodied the pure excess of the '70s like Queen. Embracing the exaggerated pomp of prog rock and heavy metal, as well as vaudevillian music hall, the British quartet delved deeply into camp and bombast, creating a huge, mock-operatic sound with layered guitars and overdubbed vocals. Queen's music was a bizarre yet highly accessible fusion of the macho and the fey.
      </p>
       {% include "_partials/bandmembers.njk" %}
    </div>
  </div>
</div>
{% endblock %}
