{% extends '_layouts/base.njk' %}

{% block page_title %}New index page title{% endblock %}

{% block content %}


{% include "_partials/jumbotron.njk" %}







<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
     <h1 class="main-title">Queen</h1>
    <img src="img/queen-band-early.jpg" class="img-fluid">
  
  
  
 
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="bio"> B I O G R A P H Y </h1>

      <p class="queen-bio">
        Queen was one of the longest-lasting and most commercially successful bands to emerge from the British heavy rock scene of the early 1970s, but unlike their contemporaries such as Led Zeppelin, Deep Purple and Black Sabbath, they soon became just as popular with pop fans as fans of hard rock and heavy metal, beginning with "Killer Queen" from their third album "Sheer Heart Attack" in 1974.
      </p>
      <p>
        Formed in London in 1970 following the demise of the band Smile, Queen originally consisted of vocalist Freddie Mercury, guitarist Brian May and drummer Roger Taylor before being joined by bassist John Deacon. The band became popular with audiences via their hit singles, live performances, originality and showmanship, being voted the greatest British band of all time in a national BBC poll. Their Live Aid (1985) performance was voted the best live rock performance of all time in an industry poll. According to the BBC, Queen have sold more than 300 million albums as of 2009.
        </p>
        <p>
        Queen's first album "Queen" was a commercial flop in 1973, failing to chart and producing no hit single, but their second album "Queen II" produced a top ten hit, "Seven Seas of Rhye". It was with the release of "Sheer Heart Attack" in 1974 and "A Night at the Opera" the following year that the band gained international success. They have released fifteen studio albums, five live albums and numerous compilation albums. Since Mercury's death and Deacon's retirement, May and Taylor have performed infrequently together at special events and programs as members of other ensembles. Between 2004 to 2009 the duo collaborated with Paul Rodgers under the moniker Queen + Paul Rodgers, and between 2011 to 2015 with Adam Lambert under the moniker Queen + Adam Lambert.
      </p>

      <h1 class= "discos"> A L B U M S </h1>
          {% include "_partials/discography.njk" %}
       
       <h1 class="member-cards">Meet the Band!</h1>
          {% include "_partials/bandmembers.njk" %}
    </div>
  </div>
</div>
{% endblock %}
