<div class="row">
{% for member in data.members %}


        <div class="col-sm-6 mb-4 col-lg-3">

<div class="card" >
  <img class="card-img-top" src="img/members/{{member.imagebw}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{member.name}}</h5>
    <a href="{{member.slug}}.html" class="btn btn-primary">Biography</a>
  </div>
</div>



        </div>
        
          
        {% endfor %}
</div>



