<div class="row">
{% for disc in data.discography %}
     
<div class="col-sm-6 col-md-4 text-center">
        <img class="img-fluid" src="img/discs/{{disc.image}}">
          <h3>{{ disc.title }}</h3>
          <h4>{{ disc.year }}</h4>
          
</div>
        
          
{% endfor %}
</div>
