// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";

@import "jumbotron";


.main-title {
    font-size: 500%;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin-top: 1%;
    margin-bottom: 10px;

}

.detail-block {
    margin-top: 20px;
}

.main-image {
    margin-left: auto;
    margin-right: auto; 
    margin-top: 100px;
}

h5 span {
    font-weight: normal
}

.queen-bio {
    vertical-align: baseline;
}

.bio {
   margin-top: 50px;
}

.member-cards {
    margin-top: 100px;
}

.discos {
    margin-top: 100px;
}


